@import "nav.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: 'Josefin Slab', serif;
}

.bannerinicial {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  gap: 20px;
}

.texto0 img {
  width: 171px;
}

.texto0 {
  font-size: 35px;
}

.produto1 img {
  width: 400px;
  height: auto;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main img {
  width: 100%;
}

footer {
  height: 450px;
  background: #F3F2F2;
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
}

footer .rodape {
  padding-left: 20px;
  font-size: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  line-height: 30px;
}

footer img {
  margin-bottom: 20px;
  margin-left: 10px;
}

footer p {
  padding-top: 30px;
  margin-bottom: 20px;
}

ul,
li,
a {
  color: #000;
  list-style: none;
  text-decoration: none;
}

@media (min-width: 300px) and (max-width: 600px) {
  .texto0 {
    font-size: 15px;
  }

  .produto1 img {
    width: 300px;
    height: auto;
  }

  main {
    flex-wrap: wrap;
  }

}